
@page "{handler?}/{message?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        <strong>
                Счет-фактура
        </strong>
    </h1>
</div>

<div class="container">
    
    <div class="mb-3 mt-3">
        <form 
            enctype="multipart/form-data" 
            method="post"
            data-ajax="true"
            data-ajax-method="post"
            data-ajax-loading="#loading"
            data-ajax-mode="before"
            data-ajax-update="#updateDiv">
            
             <div class="mb-3">

                <input type="file" name="file" class="form-control" accept=".xml" asp-route="Custom" id="error"/>

             </div>

            <button type="submit" class="btn btn-primary mb-3" id="send" asp-route="Custom">Upload</button>
            

          <span id="loading" style="display:none;"> <i class="fas fa-spinner fa-spin mb-3"></i></span>
       </form>
    
       

       <div class="row">
            <div id="updateDiv" class="col"></div>
            <div id="updateLoad" class="col text-center"></div>
       </div>
       
        
    </div>

    @if (ViewData["Message"]!= null)
    {
        <div class="alert" style="margin-top:20px">
            @ViewBag.Message
        </div>
    }


    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    } 
</div>














