@using XMLParser.Model;
@using XMLParser.Service;
@model List<DTOXmlRepresentation>;


@foreach (var item in Model)
{
    <p><strong>@item.ShortName</strong></p>
    <p>@item.FullName</p>

    @foreach (var at in item.Attribute)
    {
        <div class="card text-start">
            <p><strong>@at.FullName</strong></p>
            <p>@at.Value</p>
        </div>
    }
}