@using XMLParser.Model;
@using XMLParser.Service;
@model List<XMLParser.Model.Attribute>

@foreach (var item in Model)
{
    <div>
        <p>Short Name: @item.ShortName</p>
        <p>Full Name: @item.FullName</p>
        <p>Value: @item.Value</p>
    </div>
}