@using XMLParser.Model;
@using XMLParser.Service;
@model List<Node>


<div class="container">
	<div class="row">
		<div class="col">
			<p
				
				@section Scripts{
					<script>
						@foreach
					</script>
				}
			</p>
		</div>

















		<div class="col">

		</div>
	</div>
</div>

