@using XMLParser.Model;
@using XMLParser.Service;
@model List<Node>
		



@{

    Node TreeView(Node nodes)
    {

        var childCount = nodes.ChildNodes?.Count ?? 0;
        if (childCount < 1)
            return null;

        for (int i = 0; i < childCount; i++)
        {
            var item = nodes.ChildNodes[i];
            <ul>
                <li>
                    
                    @item.ShortName
                </li>       
            </ul>           
            <ul> 
                <detailc>
                    @TreeView(item)
                </detailc>        
            </ul>        
        }
        return null;
    }
}

@{
    foreach (var item in Model)
    {
        <details>
            <summary>
                @item.ShortName
            </summary>

            <ul id="myList">
                @TreeView(item)
            </ul>
        </details>        
    }
}








<script>
    $(document).ready(function(){
        const list = document.getElementById('myList');
        list.addEventListener('click',function(event){
            const selItem = event.target;
            const selText = selItem.textContent;
            Model.ForEach(item =>
                if (item.ShortName == selText){
                    selText = item.FullName
                }

            alert(selText);
        });
    })        
</script>
