@using XMLParser.Model;
@using XMLParser.Service;
@model List<Node>





<body>
    @section Scripts{
        <script>
            var xmlFile = List<Node>
            function createUl(xmlFile){
                if(xmlFile.ChildNodes.Count<0)
                    return
                let ul = document.createElement('ul')
                    for(let key in xmlFile{
                        let li = document.createElement('li')
                        if(xmlFile.ChildNodes.Count<0)
                            return
                        else
                            li.textContent = key
                    }
                
            }
        </script>
</body>

}




            